@mixin nav{
  font-weight: 500;
  font-size: 20px;

  color: #5A5B6A;
  cursor: pointer;
  transition: .3s;

}
@mixin title{
  font-weight: 400;
  font-size: 14px;
  display: flex;
  color: #787885;
}
@mixin them{
  padding: 12px 30px;
  background: #FFFFFF;
  border: 1px solid #9DC2FF;
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  color: #2264D1;
  transition: .4s;
  cursor: pointer;

}
@mixin acord{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #19191D;
  cursor: pointer;
}
@mixin summary{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #19191D;
  cursor: pointer;
}
@mixin  btn{
  padding: 12px 30px;
  background: #EBF2FF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  color: #2264D1;
  transition: .4s;
  cursor: pointer;
}
@mixin button{
  padding: 12px 30px;
  background: #EBF2FF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  color: #2264D1;
  transition: .4s;
  cursor: pointer;
}
@mixin tabs{
  padding: 12px 30px;
  border: 1px solid #B4B4BB;
  border-radius: 4px;
  transition: .4s;
  cursor: pointer;
  font-weight: 300;
  font-size: 10px;
  color: #787885;
}